// BEGIN SECTION-1
.sec-1
  background-color: #ead79c

.shop
  height: 840px
  text-align: center
  background-color: white
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1)

.title
  margin-bottom: em(40px)
  font-family: $title
  font-size: rem(30px)
  text-align: center

.title--sec-1
  position: relative
  display: inline-block
  &::after
    position: absolute
    left: -20px
    bottom: em(-5px)
    width: em(150px)
    border-bottom: 1px dashed black
    opacity: 0.2
    content: ''

.circle
  width: 50px
  height: 50px
  border-radius: 50px
  border: 4px solid #ead79c
  background-color: #368abe

.circle--left
  position: absolute
  top: 50%
  transform: translateY(-50%)
  left: 0
  &:hover
    cursor: pointer
  &::before
    position: absolute
    top: 50%
    left: 50%
    width: 15px
    height: 15px
    background-image: url(../img/svg/back.svg)
    background-size: cover
    transform: translate(-50%, -50%)
    content: ''

.circle--right
  position: absolute
  top: 50%
  transform: translateY(-50%)
  right: 0
  &:hover
    cursor: pointer
  &::before
    position: absolute
    top: 50%
    left: 50%
    width: 15px
    height: 15px
    background-image: url(../img/svg/next.svg)
    background-size: cover
    transform: translate(-50%, -50%)
    content: ''

.cards-flex
  display: flex
  align-content: space-between

.cards__item
  position: relative
  width: 30%
  margin: 0 15px 0 15px
  padding-top: 340px

.cards__item-circle
  position: absolute
  top: 0
  left: 50%
  width: 300px
  height: 300px
  transform: translateX(-50%)
  border-radius: 50%
  background-color: white
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1)
  &::before
    position: absolute
    top: 0
    left: 0
    width: 0
    height: 0
    border: 150px solid transparent
    border-top: 150px solid #f2f2f2
    border-radius: 50%
    transform: rotate(225deg)
    content: ''
  &::after
    position: absolute
    top: 0
    left: 0
    width: 0
    height: 0
    border: 150px solid transparent
    border-top: 150px solid #e5d2b8
    border-radius: 50%
    transform: rotate(135deg)
    content: ''

.cards__item-weight
  position: absolute
  bottom: 70px
  z-index: 1
  font-family: $title
  font-size: 24px

.cards__item-weight--left
  left: 40px

.cards__item-weight--right
  right: 40px

.cards__item-line
  position: absolute
  bottom: 0
  z-index: 1
  left: 50%
  width: 3px
  height: 50%
  background-color: white
  transform: translateX(-50%)

.cards__item-img
  position: absolute
  top: 30px
  left: 50%
  transform: translateX(-50%)

.cards__item-text
  text-align: center

.cards__item-title
  margin-bottom: em(30px)
  font-family: $title
  font-size: rem(18px)

.cards__item-desc
  display: block
  margin-bottom: em(20px)
  font-family: $text
  font-size: rem(16px)

.cards__item-ingredient
  display: block
  padding-bottom: em(60px)
  font-family: $text
  font-size: rem(16px)

.cards__item-ingredient--underline
  position: relative
  &::before
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 1px
    background-color: #282828
    content: ''

.cards__item-price
  position: relative
  display: inline-block
  // width: em(50px)
  // height: em(20px)
  margin: 0 auto 10px
  padding-right: 28px
  font-family: $title
  font-size: rem(48px)
  &::after
    position: absolute
    top: em(5px)
    right: em(-5px)
    width: 40px
    height: 40px
    background-image: url('../img/svg/ruble-currency-sign-black.svg')
    background-size: cover
    content: ''

.cards__item-btn
  position: relative
  display: block
  width: em(165px)
  height: em(45px)
  margin: 0 auto
  padding-left: 30px
  font-family: $title
  font-size: rem(18px)
  color: white
  background-color: $accent
  border: 2px solid $accent
  border-radius: 50px
  transition: $href-transition
  &:hover
    color: #282828
    background-color: transparent
    cursor: pointer
  &:focus
    outline: none
  &::before
    position: absolute
    top: 50%
    left: em(30px)
    width: 23px
    height: 23px
    background-image: url('../img/svg/check.svg')
    background-size: cover
    transform: translateY(-50%)
    transition: $href-transition
    content: ''
  &:hover:before
    background-image: url('../img/svg/check-black.svg')
// END SECTION-1